.bottom {
  display: flex;
  height: 8vmax;
  padding: 1vmax;
  align-items: center;
  box-sizing: border-box;
}

.productInfo {
  display: flex;
  align-items: center;
}

.productimage {
  width: 5vmax;
  height: 5vmax;
  margin-right: 20px; /* Increase margin to create a larger gap */
}

.productNameWrapper {
  display: flex;
  flex-direction: column;
}

.productName {
  font: 300 0.9vmax;
  color: black;
  text-decoration: none;
}

.productPrice {
  font: 300 0.9vmax;
  color: black;
}

.quantityAndRemove {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.addDelete {
  display: flex;
  align-items: center;
  margin-left: 350px; /* Increase margin to create a larger gap */
}

.addDelete button {
  margin: 0 20px; /* Increase margin to create a larger gap between buttons */
}

.cartdeleteButton {
  cursor: pointer;
  margin-left: 600px; /* Increase margin to create a larger gap */
}
