.dashboard_product_list {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}
/******************************************************************************************************************************************/
.productcontainer {
  width: 172vh;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heading {
  font: 400 2rem;
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
  margin: 2rem;
  text-align: start;
}

.productTable {
  background-color: rgb(255, 255, 255);
  border: none !important;
}

.productTable div {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none !important;
}

.productTable a,
.productTable button {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.productTable a:hover {
  color: tomato;
}

.productTable button:hover {
  color: rgb(236, 30, 30);
}

.MuiDataGrid-columnHeader div {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .productTable div {
    font: 300 4vw "Roboto";
  }
}
