.container {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: gray;
}

.main-wrapper {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-button {
  margin-left: auto;
}
