.compare-card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
  background-color: white;
}

.image-container {
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(0.8);
}

.image:hover {
  transform: scale(1);
}

.title {
  font-weight: 500;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.info {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: 500;
  padding: 5px;
}

.value {
  font-size: 18px;
  font-weight: 600;
  color: #0171b6;
}

.product-desc-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 200px;
}

.desc {
  padding: 10px;
  font-weight: 400;
  overflow: hidden;
}

.delete-btn {
  width: 100%;
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: darkred;
}
