/* Container styles */
.updateConn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -7%;
}

/* Form container styles */
.updatePBox {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.updatePH2 {
  text-align: center;
  color: #333;
}

/* Form styles */
.updatePassForm {
  margin-top: 20px;
}

/* Input wrapper styles */
.inputWrapper {
  margin-bottom: 20px;
}

/* Icon input wrapper styles */
.inputWithIcon {
  position: relative;
}

/* Icon styles */
.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #777;
}

/* Password input styles */
.passwordInput {
  width: 100%;
  padding: 10px 40px 10px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.passwordInput:focus {
  border-color: #007bff;
}

/* Update button styles */
.updatePassBtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f64b3c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.updatePassBtn:hover {
  background-color: #c81912;
}
