.accountContainer {
  display: flex;
  padding: 30px;
  border-radius: 20px;
  margin-left: 5rem;
}

.myAccount {
  margin-top: -0.9%;
  height: 510px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 30px;
}
.myAccount h1 {
  margin-top: -1%;
}

.verified-icon {
  margin-left: 0px;
}

.containerProf {
  display: flex;
  align-items: center;
}

.profileContainer {
  text-align: center;
  width: 30vmax;
  height: 31vmax;
}

.profileAvatar {
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin-left: 3rem;
}

.userWappper {
  margin-bottom: 20px;
  margin-right: 10rem;
}

.username {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
}

.userDetails {
  text-align: left;
}

.item-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.iconE {
  margin-right: 20px;
  color: #000000;
}

.data {
  font-size: 1.3em;
  color: #555;
}

.second {
  height: 350px;
  width: 500px;
  padding: 30px;
  margin-left: 12rem;
  margin-top: 5rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.second h3 {
  font-size: 2em;
  font-weight: bold;
  /* margin-bottom: 40px; */
  color: #000000;
  margin-left: 5.5rem;
}

.personalProfile {
  background-color: #fff;
  padding: 25px;
  border-radius: 20px;
  margin-left: 5rem;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.personalProfile h4 {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 2px;
  /* margin-bottom: 30px; */
  color: #000000;
}

.editButton {
  color: #ffffff;
  background-color: #f64b3c;
  border: none;
  margin-left: 15%;
  margin-top: -5%;
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
  width: 40%;
}

.personalProfile h5 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #000000;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 15%;
  margin-right: 12rem;
  margin-top: 5%;
  border: none;
  border-radius: 4px;
}

.buttons > a {
  border: none;
  background-color: #f64b3c;
  font: 200 1vmax;
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
}
