.home_container {
  display: flex;
  margin: 3vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: 40px;
}

h2 {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4vmax;
  border-bottom: 1px solid;
  width: 25vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  margin-bottom: 20px;
}

.view_more {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #f64b3c;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: white; /* Set text color to white */
  display: block; /* Make it a block-level element */
  margin: 0 auto; /* Center the button horizontally */
}

.view_more button:hover {
  background-color: #c81912;
  color: #fff;
  transition: 1s;
}
